@using MvcKutuphane.Models.Entity;
@model List<TBLHareket>

@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
    <table class="table table-bordered" style="margin-top:15px;">
        <tr>
            <th style="text-align:center"><span style="color:white">ÜYE KİTAP GEÇMİŞİ</span></th>
        </tr>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>KİTAP ADI</th>
            <th>PERSONEL</th>
            <th>ALIŞ TARİHİ</th>
            <th>İADE TARİHİ</th>

        </tr>

        @foreach (var uye in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@uye.TBLKitap.AD</td>
                <td>@uye.TBLPersonel.PERSONEL</td>
                <td>@Convert.ToDateTime(uye.ALISTARIH).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(uye.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            </tr>
        }

    </table>
</div>

