@using MvcKutuphane.Models.Entity;
@model IList<TBLHareket>

@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
    <table class="table table-bordered" style="margin-top:15px;">
        <tr>
            <th style="text-align:center"><span style="color:white">KİTAP GEÇMİŞİM</span></th>
        </tr>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>KİTAP ADI</th>
            <th>ALIŞ TARİHİ</th>
            <th>ÜYE İADE TARİH</th>
        </tr>

        @foreach (var hareket in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@hareket.TBLKitap.AD</td>
                <td>@Convert.ToDateTime(hareket.ALISTARIH).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(hareket.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
</div>


