@using MvcKutuphane.Models.Entity;
@model  List<TBLKategori>

@{
    ViewBag.Title = "PasifKategoriler";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
<table class="table table-bordered" style="margin-top:15px;">
    <tr>
        <th style="text-align:center"><span style="color:white">PASİF KATEGORİLER</span></th>
    </tr>
</table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>ID</th>
            <th>KATEGORİ ADI</th>
            <th>AKTİF ET</th>
        </tr>

        @foreach (var kategori in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@kategori.ID</td>
                <td>@kategori.AD</td>
                <td><a href="/Kategori/AktifEt/@kategori.ID" class="btn btn-success">AKTİF ET</a></td>
            </tr>
        }

    </table>
</div>

