@using MvcKutuphane.Models.Entity;
@model List<TBLPersonel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
<table class="table table-bordered" style="margin-top:15px;">
    <tr>
        <th style="text-align:center"><span style="color:white">PERSONELLER</span></th>
    </tr>
</table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>ID</th>
            <th>PERSONEL</th>
            <th>PERSONEL DETAY</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>

        @foreach (var personel in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@personel.ID</td>
                <td>@personel.PERSONEL</td>
                <td><a href="/Personel/PersonelDetay/@personel.ID" class="btn btn-info">PERSONEL DETAY</a></td>
                <td><a href="/Personel/PersonelSil/@personel.ID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Personel/PersonelGetir/@personel.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }

    </table>
</div>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel Ekle</a>

